.labelContainer {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.label {
  margin-left: 1em;
  color: rgba(0,0,0,.87);
  font-size: .92857143em;
  font-weight: 700;
  text-transform: none;
}
